body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.content {
    width: clamp(300px, 100%, 800px);
    height: auto;
    border: 1px solid ;
    height: 100%;
    margin: 4px;
    background-color: yellow;
}